
body{
    background-image: url('../img/pattern.jpg');
    margin:  0;
    padding: 0;
}
nav img{
    float: left;
    width: 10%;
}
nav {
    display: flex;
    padding: 1px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav ul li {
    display: inline;
    margin-right: 30px;
    color: blue;

}


section#blog{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: white;
}

section#blog article {
    display: flex;
    margin-top: 20px;
    
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}